body{
   margin: 0;
   padding: 0;
}
.cabeçalho{
   display: flex;
   padding: 35px;
   justify-content: space-around;
   background-color: #f5f5f5;
}
.cabeçalho__titulo{
   font-size: 4rem;
   text-align: center;
   font-family: cursive;
   color: #3a3a3a;
}
.cabeçalho__item{
   font-size: 1.75rem;
   
}
.cabeçalho__link{
text-decoration: none;

}
.flex-container {
   display: flex;
   width: 300px;
   position: absolute;
   bottom: 15%;
   left: 51%;
   
  }
  .conteiner{
  width: 20px;
  margin-left: 20px;
  border-bottom: 2px solid ;
  text-align: center;

 }
#tabuleiro{
   display: flex;
   background-color: aqua;
   justify-content: center;
   text-align: center;
   position: relative;

}
.tabuleiro__spans{
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 55%;
   left: 60%;
}
#canvas{
 
   height: 600px;
   width: 700px;
   border: 2px solid;

}
.flex__erro{
   position: absolute;
   bottom: 10%;
   left: 25%;
}
#local-erro{

   margin-left: 600px;
   color: red;
}
span{
   font-size: 30px;
}
#mensagem-perdeu{
   color: red;

}
.ganhou{
   color: green;
}
#mensagem-perdeu, .ganhou{
   font-size: 1.85rem;
}
.rodape{
   text-align: center;
   font-size: 1.75rem;
   padding: 1rem;
   background-color: #f5f5f5;
}
.rodape__lista{
   display: flex;
   justify-content: center;
}
.rodape__redesocias{
   width: 32px;
   height: 32px;
   background:no-repeat center;

}
.rodape__github{
   
   background: url(..//github.png) no-repeat center;

}
.rodape__instagram{
background-image: url(../instragram.png);
}
.rodape__linkedin{
   background-image: url(../linkedin.png);
   background-size: 1rem auto;
}